.yellow-background{
    background-color:#FFEF82
}

.purple-background{
    background-color:#6d3088
}

.white-background{
    background-color: white;
}

.heading{
    text-align:center;
    font-family: Roboto, sans-serif;
    color: #222222 !important;
    font-weight: bold;
    font-size: 20px !important;
    line-height: 28px !important;
    padding-left:20%;
    margin:0;
    display:inline
}

.channel-container{
    padding-top:2%;
    padding-bottom:2%;
    background-color:#6d3088;
    width:40%;
    margin:auto
}

.channel-heading{
    font-size:20px
}

.channel-image{
    width:100%;
    height:80%
}


.searchbar-container{
    border-style:solid;
    border-color:black;
}

.searchbar{
    font-size:20px;
    margin:auto;
}

.video-container{
    border-style:solid;
    margin-left:100px;
    margin-bottom:20px;
    width:355px;
    background-color: white;
    height:450px
}

.video-heading{
    margin-bottom:50px;
    margin-left:10%;
    font-size:20px
}

.video-text{
    margin:0 0 0 0;
    font-weight:bold;
    font-size:16px
}

.button-container{
    position:relative;
    bottom:0;
}

.button-video{
    font-size:14px;
    margin-right:5px;
    background-color:#FFFFFF;
    border:1px solid #222222;
}

.comment{ 
    height:65px;
    background-color:grey;
    border-color:black
}

.comment-video{
    font-size:25px;
    margin-right:5px;
    background-color:#FFFFFF;
    border:1px solid #222222;
    border-radius:8px
}

.comment-button-container{
    position:absolute;
    top:0;
    right:0
}
.comment-page-container{
    margin:auto
}